.content-text{
    color: yellowgreen;
}
body {
    font-family: "Poppins", sans-serif;
  }
  .link-hero-btn{
      background-color: rgb(56, 156, 58);
      padding: 10px 40px;
      text-decoration: none;
      border-radius: 5px;
      color: #ffff;
      font-weight: 300;
  }
    .link-hero-btn:hover {
        background-color: greenyellow;
        padding: 10px 40px;
        text-decoration: none;
        border-radius: 5px;
        color: #ffff;
        font-weight: 300;
    }
 
  .top-container img {
    width: 70%;
  }

  h1{
      font-size: 50px;
      border-left: 3px solid;
      border-image-slice: 1;
      border-color: rgb(105, 152, 33);
  }
  .flex-container{
      display: flex;
      margin-bottom: 100px;
      justify-content: center;
      align-items: center;
  }
  .top-container{
      width: 45%;
      margin-left: 5px;
      align-items: center;
  }
  .top-container img{
      width: 70%;
  }
  #service-section{
      text-align: center;
      font-size: 30px;
      font-weight: 700;
  }
  .service-container{
      display: flex;
      margin-bottom: 100px;
  }
  .service{
      width: 30%;
      height: 30%;
      margin-left: 5%;
      margin-right: 5%;
      padding: 10px;
      border-radius: 10px;
      text-align: center;
      box-shadow: 10px 10px 30px rgb(148, 143, 134);
  }
  .service img{
      width: 100px;
  }
  #service1{
      background-color: rgb(75, 116, 116);
  }
  #service2{
      background-color: rgb(100, 120, 80);
  }
  #service3{
      background-color: rgb(62, 73, 107);
  }

  #service1:hover{
      background-color: rgb(66, 137, 137);
  }
  #service2:hover{
      background-color: rgb(127, 155, 81);
  }
  #service3:hover{
      background-color: rgb(64, 83, 141);
  }